priority -50

snippet react-class "Create ES6 React class"
import React from 'react';

class ${1:class_name} extends React.Component {
	constructor(props) {
		super(props);
	}

	render() {
		${VISUAL}$0
	}
}

export default $1;
endsnippet
