##
## Elasticsearch
snippet esnested "Basic Nested type"
"${1:name}":{
	"type": "nested",
	"properties":{
		"${2:id}": {"type": "${3:string}"}${4:,}
		${5}
	}
}
endsnippet

snippet esfield "Field"
"${1:name}": {"type": "${2:string}"}${3:,}
${4}
endsnippet
