priority -60

snippet subfigure "Subfigure environment"
\begin{subfigure}[${1:t}]{${2}}
	${3}
\end{subfigure}
endsnippet

snippet subtable "Subtable environment"
\begin{subtable}[${1:t}]{${2}}
	${3}
\end{subtable}
endsnippet
